img {
    border-radius: 50%;
    border: 7px solid mediumseagreen;
     
} 

body {
    background-color: powderblue;
}

hr {
    background-color: white;
    border-style: none;
    height: 2px;
}


 hr{
    background-color: white;
    
 }







